@media only screen and (max-width: 900px) {
  .contact-container {
    align-items: center;
  }
}

.contact-container {
  display: flex;
  flex-direction: column;
}

.contact-item-icon-container {
  width: 2rem;
  height: 2rem;
  border-radius: 1rem;
  background-color: rgb(247, 249, 252);
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-item {
  display: flex;
  gap: 10px;
  font-size: 1rem;
  align-items: center;
  padding: 1rem 0;
}

.contact-item-icon {
  color: rgb(164, 120, 232);
  font-size: 0.9rem;
}

.contact-item-details {
  display: flex;
  flex-direction: column;
}

.contact-item-title {
  font-size: 0.8rem;
  color: #949494;
}

.contact-item-value {
  font-size: 0.9rem;
  font-weight: 500;
  color: rgb(46, 46, 72);
  text-decoration: none;
}
