.side {
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
  color: rgb(46, 46, 72);
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  z-index: 10;
}

.main {
  box-sizing: border-box;
  background-color: rgb(247, 249, 252);
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

@media only print {
  .side {
    position: absolute;
    left: 0;
    width: 250px;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    overflow-y: initial !important;
  }

  .main {
    position: absolute;
    left: 250px;
    height: 100%;
    overflow-y: initial !important;
  }

  .print-hide {
    display: none !important;
  }

  html {
    font-size: 12px;
  }
}

@media only screen {
  .side {
    position: fixed;
    height: 100%;
    padding: 2rem;
  }

  .main {
    position: absolute;
  }
}

@media only screen and (max-width: 900px) {
  .side {
    flex-direction: column;
  }
}

@media only screen and (min-width: 901px) and (max-width: 1500px) {
  .side {
    width: 300px;
    left: calc(50% - 450px);
  }

  .main {
    right: calc(50% - 450px);
    width: 600px;
  }
}

@media only screen and (min-width: 1501px) and (max-width: 2000px) {
  .side {
    width: 400px;
    left: calc(50% - 600px);
  }

  .main {
    right: calc(50% - 600px);
    width: 800px;
  }

  html {
    font-size: 14px;
  }
}

@media only screen and (min-width: 2001px) {
  .side {
    width: 500px;
    left: calc(50% - 750px);
  }

  .main {
    right: calc(50% - 750px);
    width: 1000px;
  }

  html {
    font-size: 16px;
  }
}
