@media print {
  .side {
    position: absolute;
    left: 0;
    width: 250px;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 30px;
    overflow-y: initial !important;
  }

  .main {
    position: absolute;
    left: 250px;
    height: 100%;
    padding: 10px;
    overflow-y: initial !important;
  }

  .page-break {
    page-break-before: always;
    margin-top: 25px;
  }

  .print-hide {
    display: none !important;
  }

  html {
    font-size: 12px;
  }
}

@media only screen {
  .side {
    padding: 30px;
  }

  .main {
    padding: 30px;
  }
}

@media only screen and (max-width: 900px) {
  .side {
    flex-direction: column;
  }
}

@media only screen and (min-width: 901px) and (max-width: 1200px) {
  .side {
    position: fixed;
    height: 100%;
    width: 300px;
    left: calc(50% - 450px);
    flex-direction: column;
    padding: 30px;
  }

  .main {
    position: absolute;
    right: calc(50% - 450px);
    width: 600px;
    padding: 30px;
  }
}

@media only screen and (min-width: 1201px) and (max-width: 1500px) {
  .side {
    position: fixed;
    height: 100%;
    width: 400px;
    left: calc(50% - 600px);
    flex-direction: column;
    padding: 30px;
  }

  .main {
    position: absolute;
    right: calc(50% - 600px);
    width: 800px;
    padding: 30px;
  }

  html {
    font-size: 14px;
  }
}

@media only screen and (min-width: 1501px) {
  .side {
    position: fixed;
    height: 100%;
    width: 500px;
    left: calc(50% - 750px);
    flex-direction: column;
    padding: 30px;
  }

  .main {
    position: absolute;
    right: calc(50% - 750px);
    width: 1000px;
    padding: 30px;
  }

  html {
    font-size: 16px;
  }
}

.side {
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
  color: rgb(46, 46, 72);
  display: flex;
  overflow-y: auto;
  z-index: 10;
}

.main {
  box-sizing: border-box;
  background-color: rgb(247, 249, 252);
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.replay-button {
  /* background: none !important; */
  border: none;
  /* padding: 0 !important; */
  /*optional*/
  font-family: arial, sans-serif;
  /*input has OS specific font-family*/
  color: rgb(77, 46, 106);
  text-decoration: none;
  cursor: pointer;
  margin: 5px;
  background-color: #f0f0f0;
  border-radius: 5px;
  padding: 10px;
}
