@media only screen and (max-width: 900px) {
  .project-container {
    flex-direction: column;
  }

  .project-image {
    /*height: 30rem;*/
    justify-self: center;
    object-fit: contain;
  }
}

.project-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.project-image {
  width: 20rem;
}

.project-content {
  display: flex;
  flex-direction: column;
}

.project-title {
  font-size: 1.3rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.project-sub-title {
  font-size: 1.15rem;
  font-weight: 500;
  margin: 1rem 0;
  color: #444444;
}

.project-description {
  font-size: 1rem;
}

.project-tech {
  display: flex;
  font-size: 0.9rem;
}

.project-tech-logo {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.5rem;
}
