@media print {
  .section-container {
    page-break-inside: avoid;
    /*page-break-after: initial;*/
  }
}

.section-container {
  display: flex;
  flex-direction: column;
  margin: 0 1rem;
}

.section-title {
  display: flex;
  align-items: center;
  padding-top: 2rem;
}

.section-title-icon {
  font-size: 10px;
  color: rgb(164, 120, 232);
}

.section-title-text {
  font-size: 1.5rem;
  font-weight: 500;
  padding-left: 10px;
}
