@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background: rgb(237, 240, 245);;
}

html {
  font-size: 12px;
}

body {
  margin: 0;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.1rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

::-webkit-scrollbar {
  width: 0.5em;
  height: 0.5em;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0);
}

body:hover {
  overflow-y: auto;
}

p {
  margin: 1rem 0;
}

@media print {
  .noprint {
    display: none;
  }
}
